@page
@model EventModel
@using CrowdFestWebApp.Enums;

<h2 class="fw-bold mt-5 mb-4 site-color">Create an event</h2>

<form method="post" class="row g-3">
  <div class="col-md-6">
    <label asp-for="eventModel.title" class="form-label">Event Title</label>
    <input asp-for="eventModel.title" type="text" class="form-control">
    <div id="passwordHelpBlock" class="form-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit
    </div>
  </div>

  <div class="col-md-6">
    <label class="form-label">Event Planner</label>
    <input type="text" class="form-control" disabled placeholder="Alice Parker">
    <div id="passwordHelpBlock" class="form-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit
    </div>
  </div>

  <div>
    <label asp-for="eventModel.description" class="form-label">Event Description</label>
    <textarea asp-for="eventModel.description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    <div id="passwordHelpBlock" class="form-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit
    </div>
  </div>

  <div class="col-12">
    <label for="inputState" class="form-label">Event Group</label>
    <select asp-for="SelectedGroupId" asp-items="Model.groups" class="form-select">
    </select> 
    <div id="passwordHelpBlock" class="form-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit
    </div>     
  </div>

  <div class="col-md-6">
    <label for="inputState" class="form-label">Event Category</label>
    <select asp-for="eventModel.category" asp-items="Html.GetEnumSelectList<Category>()" class="form-select">
    </select>      
    <div id="passwordHelpBlock" class="form-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit
    </div>
  </div>

  <div class="col-md-6">
    <label for="inputState" class="form-label">Event Theme</label>
    <select asp-for="SelectedThemeId" asp-items="Model.themes" class="form-select">
    </select>     
    <div id="passwordHelpBlock" class="form-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit
    </div> 
  </div>

  <div class="col-md-6">
    <label asp-for="eventModel.date" class="form-label">Event Date</label>
    <input asp-for="eventModel.date" type="date" class="form-control">
    <div id="passwordHelpBlock" class="form-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit
    </div>
  </div>

  <div class="col-md-6">
    <label asp-for="eventModel.time" class="form-label">Event Time</label>
    <input asp-for="eventModel.time" type="time" class="form-control">
    <div id="passwordHelpBlock" class="form-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit
    </div>
  </div>


  <div class="col-12">
    <label asp-for="locationModel.address1" class="form-label">Address</label>
    <input asp-for="locationModel.address1" type="text" class="form-control" placeholder="1234 Main St">
    <div id="passwordHelpBlock" class="form-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit
    </div>
  </div>

  <div class="col-12">
    <label asp-for="locationModel.address2" class="form-label">Address 2</label>
    <input asp-for="locationModel.address2" type="text" class="form-control" placeholder="Apartment, studio, or floor">
    <div id="passwordHelpBlock" class="form-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit
    </div>
  </div>

  <div class="col-md-6">
    <label asp-for="locationModel.city" for="inputCity" class="form-label">City</label>
    <input asp-for="locationModel.city" type="text" class="form-control">
    <div id="passwordHelpBlock" class="form-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit
    </div>
  </div>

  <div class="col-md-4">
    <label for="inputState" class="form-label">County</label>
    <select asp-for="County" asp-items="Html.GetEnumSelectList<County>()" class="form-select">
    </select>
    <div id="passwordHelpBlock" class="form-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit
    </div>
  </div>

  <div class="col-md-2">
    <label asp-for="locationModel.postCode" class="form-label">Post Code</label>
    <input asp-for="locationModel.postCode" type="text" class="form-control">
    <div id="passwordHelpBlock" class="form-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit
    </div>
  </div>

  <button type="submit" class="btn btn-danger w-100 my-5">Submit</button>
</form>