@page
@{
    ViewData["Title"] = "Create Account";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card">
        <h1 class="fw-bold">Welcome to <span>Crowd<span class="site-color">Fest</span></span></h1>
        <h6 class="text-muted mb-4">Sign Up</h6>

        <form class="form-container">
            <div class="d-grid gap-3">
                <div class="text-start">
                    <label for="email" class="form-label text-start">Email</label>
                    <input type="email" class="form-control" placeholder="example@gmail.com" required />
                </div>
                <div class="text-start">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" placeholder="Enter at least 8 characters" required minlength="8" />
                </div>
            </div>

            <div class="d-grid gap-2">
                <div class="d-flex align-items-center gap-2 pt-1">
                    <input class="form-check-input shadow-none" type="checkbox" value="" id="defaultCheck1">
                    <label class="text-start form-check-label" for="defaultCheck1">I agree with the terms and conditions</label>
                </div>
                <button type="submit" class="btn btn-custom px-4 py-3 mt-3">Sign Up</button>
            </div>
        </form>
    </div>
</div>