@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="login-card p-4">
        <h5 class="text-danger fw-bold mb-4">Eventure</h5>
        <h2 class="fw-bold mb-4">Create new account</h2>

        <form method="post">
            <div class="mb-3">
                <label class="form-label" asp-for="model.DisplayName">Display Name</label>
                <input type="text" class="form-control" asp-for="model.DisplayName" placeholder="Enter at least 8 characters"/>
                <span asp-validation-for="model.DisplayName"></span>
            </div>

            <div class="mb-3">
                <label class="form-label" asp-for="model.EmailAddress">Email Address</label>
                <input type="text" class="form-control" asp-for="model.EmailAddress" placeholder="Enter your email"/>
                <span asp-validation-for="model.EmailAddress"></span>
            </div>

            <div class="mb-4">
                <label class="form-label" asp-for="model.Password">Password</label>
                <input type="password" class="form-control" asp-for="model.Password" placeholder="Enter your password"/>
                <span asp-validation-for="model.Password"></span>
            </div>
 
            <button type="=submit" class="btn btn-danger w-100">Continue</button>

            <div class="mt-4">
                <a href="/Account/Register" class="link-secondary link-underline link-underline-opacity-0 ">Are you an organiser?</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}